<div class="container">
  <section class="row">
    <form class="form-group row"
          novalidate
          (ngSubmit)="save()"
          [formGroup]="profileForm">

    <header>
      <h3 class="beetobee-blue-dark-text">Informations personnelles</h3>
    </header>
      <!--___PROFILE PICTURE___-->
      <div class="col s12">
        <h4 class="beetobee-red-dark-text"><i class="material-icons">accessibility</i> Identité</h4>
        <div class="row">
          <div class="form-group">
            <!--<img *ngIf="Profile.profilePicture" [src]=sanitize.bypassSecurityTrustUrl(Profile.profilePicture) class="avatar">-->

            <div id="avatar-container" class="file-field input-field col l12 center">

              <div class="z-depth-1">
                  <i class="material-icons beetobee-purple-dark-text">edit</i>
                  <img *ngIf="picture" [src]=sanitize.bypassSecurityTrustUrl(picture)>
                  <input class="validate form-control"
                         id="pictureId"
                         type="file"
                         accept="image/*"
                         (change)="changeListener($event)"
                         name="pictureId"
                         formControlName="profilePicture">
                </div>


              <h5 id="username" class="beetobee-blue-dark-text">hola</h5>
            </div>
          </div>
        </div>

        <!--______|PREMIERE SECTION|______-->
        <div class="vert-padding"></div>
        <div class="row">

          <!--___EMAIL___-->
          <div class="form-group"
               [ngClass]="{'has-error': (profileForm.get('email').touched || profileForm.get('email').dirty) && !profileForm.get('email').valid }">

            <div class="input-field col s12 l6 no-padding">
              <i class="material-icons prefix">email</i>

              <input class="validate"
                     id="emailProfileId"
                     type="email"
                     name="emailId"
                     formControlName="email"
              value="{{Profile.email}}">
              <span class="help-block"
                    *ngIf="(profileForm.get('email').touched || profileForm.get('email').dirty) && profileForm.get('email').errors">
                            <span *ngIf="profileForm.get('email').errors.pattern">
                                Invalid Email.
                            </span>
              </span>

              <label id="labelEmail" for="emailProfileId">Email</label>
            </div>

          </div>

          <!--___LASTNAME___-->
          <div class="form-group">

            <div class="input-field col s12 l6 no-padding">
              <i class="material-icons prefix">person</i>

              <input class="validate form-control"
                     id="lastnameProfileId"
                     type="text"
                     name="lastnameId"
                     formControlName="lastname"
                     value="{{Profile.lastname}}">

              <label id="labelEmail" for="lastnameProfileId">Nom</label>
            </div>

          </div>


        </div><!--Fin de row-->

        <div class="row">

          <!--___FIRSTNAME___-->
          <div class="form-group">

            <div class="input-field col s12 l6 no-padding">
              <i class="material-icons prefix">person</i>

              <input class="validate form-control"
                     id="firstnameProfileId"
                     type="text"
                     name="firstnameId"
                     formControlName="firstname"
                     value="{{Profile.firstname}}">

              <label id="labelFirstname" for="firstnameProfileId">Prénom</label>
            </div>

          </div>

          <!--___BIRTHDAY DATE___-->
          <div class="form-group">

            <div class="input-field col s12 l6 no-padding">
              <i class="material-icons prefix">cake</i>

              <input class="validate form-control"
                     id="birthDateProfileId"
                     type="text"
                     name="birthDateId"
                     formControlName="birthdate"
                     value="{{Profile.birthdate | date}}">

              <label id="labelBirthDate" for="birthDateProfileId">Date de naissance (aaaa-mm-jj)</label>
            </div>

          </div>

        </div><!--Fin de row-->

        <!--______|DEUXIEME SECTION|______-->
        <div class="vert-padding"></div>
        <h4 class="beetobee-red-dark-text"><i class="material-icons">security</i> Sécurité</h4>

        <!--___PASSWORD___-->
        <div class="row">

          <div class="form-group"
               [ngClass]="{'has-error': (profileForm.get('password').touched || profileForm.get('password').dirty) && !profileForm.get('password').valid }">

            <div class="input-field col s12 l6 no-padding">
              <i class="material-icons prefix">lock</i>

              <input class="validate form-control"
                     id="passwordProfileId"
                     type="password"
                     name="passwordId"
                     formControlName="password">
              <span class="help-block"
                    *ngIf="(profileForm.get('password').touched || profileForm.get('password').dirty) && profileForm.get('password').errors">
                            <span *ngIf="profileForm.get('password').errors.pattern">
                                Doit avoir entre 4 et 8 charactère avec au moins un chiffre.
                            </span>
              </span>

              <label for="passwordProfileId">Mot de passe</label>
            </div>

          </div>

          <!--___CONFIRMATION___-->
          <div class="form-group"
               [ngClass]="{'has-error': (profileForm.get('passwordConfirm').touched || profileForm.get('passwordConfirm').dirty) && !profileForm.get('passwordConfirm').valid }">

            <div class="input-field col s12 l6 no-padding">
              <i class="material-icons prefix">lock</i>

              <input class="validate form-control"
                     id="passwordConfirmProfileId"
                     type="password"
                     name="passwordConfirmdId"
                     formControlName="passwordConfirm"
                     compare="password">
              <span class="help-block"
                    *ngIf="(profileForm.get('passwordConfirm').touched || profileForm.get('passwordConfirm').dirty) && profileForm.get('passwordConfirm').errors">
                            <span *ngIf="profileForm.get('passwordConfirm').errors.compare">
                                mismatch
                            </span>
              </span>

              <label for="passwordConfirmProfileId">Confirmation</label>
            </div>

          </div>

        </div>

        <!--______|TROISIEME SECTION|______-->

        <div class="vert-padding"></div>
        <h4 class="beetobee-red-dark-text"><i class="material-icons">school</i> Études</h4>

        <div class="row">
          <!--___CITY___-->
          <div class="form-group">

            <div class="input-field col s12 l6 no-padding">
              <i class="material-icons prefix">location_city</i>

              <input class="validate form-control"
                     id="cityProfileId"
                     type="text"
                     name="cityId"
                     formControlName="city"
                     value="{{Profile.city}}">

              <label id="labelCity" for="cityProfileId">Ville</label>
            </div>

          </div>
          <!--___UNIVERSITY___-->
          <div class="form-group">

            <div class="input-field col s12 l6 no-padding">
              <i class="material-icons prefix">account_balance</i>

              <input class="validate form-control"
                     id="universityProfileId"
                     type="text"
                     name="universityId"
                     formControlName="university"
                     value="{{Profile.university}}">

              <label id="labelUniversity" for="universityProfileId">Université</label>
            </div>

          </div>

        </div><!--Fin de row-->

        <div class="row">

          <div class="form-group">

            <div class="input-field col s12 l6 no-padding">
              <i class="material-icons prefix">grade</i>

              <input class="validate form-control"
                     id="specialityProfileId"
                     type="text"
                     name="specialityId"
                     formControlName="speciality"
                     value="{{Profile.speciality}}">

              <label id="labelGrade" for="specialityProfileId">Spécialité</label>
            </div>

          </div>

          <div class="form-group">

            <div class="input-field col s12 l6 no-padding">
              <i class="material-icons prefix">equalizer</i>

              <input class="validate form-control"
                     id="levelDegreeProfileId"
                     type="text"
                     name="levelDegreeId"
                     formControlName="levelDegree"
                     value="{{Profile.levelDegree}}">

              <label id="labelLevelDegree" for="levelDegreeProfileId">Niveau d'études</label>
            </div>

          </div>

        </div><!--Fin de row-->

        </div>
    </form>

    <div class="vert-padding"></div>
    <div class="row center">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light beetobee-blue-dark-bg"
                type="submit"
                id="save"
                (click)="save()">Sauvegarder
          <i class="material-icons right">check</i>
        </button>
      </div>
    </div>
    <div class="vert-padding"></div>

  </section>
</div>
<app-become-trainer></app-become-trainer>


<!--<div class="vert-padding"></div>-->
<!--<h4 class="beetobee-red-dark-text"><i class="material-icons">phone</i> Contact</h4>-->
<!--</div>-->
<!--<div class="vert-padding"></div>-->
<!--</div>-->
<!--<h4 class="beetobee-red-dark-text"><i class="icon-beetobee-logo"></i> BeeToBee <a href="#modal-become-instructor"-->
<!--class="right btn waves-effect waves-light beetobee-blue-elec-bg"-->
<!--id="showBecomeInstructor"-->
<!--type="submit" name="action">Devenir-->
<!--Formateur !</a></h4>-->
<!--<div class="row">-->
<!--<div class="input-field col s12">-->
<!--<i class="material-icons prefix">card_membership</i>-->
<!--<input disabled id="role" class="beetobee-blue-dark-text" name="role" type="text">-->
<!--<label for="role">Rôle</label>-->
<!--</div>-->
<!--<section class="row">-->
<!--<header>-->
<!--<h3 class="beetobee-blue-dark-text">Formations à venir</h3>-->
<!--</header>-->
<!--<div class="col s12">-->
<!--<ul class="collapsible" id="formationParticipated" data-collapsible="accordion">-->
<!--</ul>-->
<!--</div>-->
<!--</section>-->
<!--<section class="row">-->
<!--<header>-->
<!--<h3 class="beetobee-blue-dark-text">Espace Formateur</h3>-->
<!--</header>-->
<!--<div class="col s12">-->
<!--<ul class="collapsible" id="formationCreated" data-collapsible="accordion">-->
<!--</ul>-->
<!--</div>-->
<!--</section>-->
<!--<section class="row vert-padding"></section>-->

