/* ---- Id ---- */

#avatar-container {
  position: relative;
}

#profile-picture-container .file-field {
  margin-top: 0;
}

/* ---- Class ---- */

.profile h3 {
  font-size: 3.8vh;
}

.profile h4 {
  font-size: 3.0vh;
}

.profile .input-field i.prefix {
  color: var(--beetobee-blue-dark);
}

.profile .input-field i.active, .profile .input-field img.active {
  color: var(--beetobee-yellow);
}

.profile .input-field .custom-material-icons {
  width: 22px;
}

.profile .collapsible-body {
  max-height: 350px;
  overflow: hidden;
}

.profile .collapsible-body img.training-img {
  max-height: 290px;
  border-radius: 2px;
}

.profile .avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.profile .edit {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: 25px;
  bottom: 50px;
  background-color: var(--beetobee-white);
}

.profile .edit:hover {
  background-color: var(--beetobee-red-dark);
}

.profile .edit i {
  font-size: 25px;
  line-height: 50px;
}

.profile .avatar img {
  width: 150px;
  height: 150px;
}

/* ---- Media ---- */

@media screen and (max-width: 601px){
  .carousel .indicators {
    width: 50%;
  }
}
