#login{
  max-width: 460px;
  height: 700px;
  top: 12.5% !important;
  border-radius: 10px !important;
}

label{
  font-size: 24px;
  color: rgba(0, 0, 0, .3);
  font-weight: 300;
}

.input-field.col label{
  left: 0 !important;
}

label.active{
  color: var(--beetobee-yellow) !important;
}

.box {
  padding: 60px 50px 40px 50px;
  width: 100%;
}

.materialContainer-beetobee {
  display: block;
  text-align: center;
  margin: -30px 0 -30px 0;
  font-size: 120px;
}

h4{
  width: 100%;
  margin-bottom: 35px;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
}

#button{
  width: 100%;
  margin: 15px 0 10px 0;
  height: 70px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  vertical-align: center;
}

#button:hover{
  border-color: var(--beetobee-blue-electrik);
}

.btn-flat:hover{
  background-color: inherit !important;
}

#link{
  padding: 5px 0 2px 0;
}

.modal{
  background-color: white !important;
}

.modal .modal-content{
  padding: 10px !important;
}

.modal-footer{
  background-color: inherit !important;
}

.invalidLogin{
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  color: red;
}
