<div class="col s12 l4 content">
  <div class="card   classTheme(formation.themes[0].id)  " data-id="  formation.id  ">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="">
    </div>
    <div class="card-content">
      <span class="card-title activator beetobee-blue-dark-text">Titre de la formation<i class="material-icons right">more_vert</i></span>
      <p><span class="training-details beetobee-purple-dark-text">Date : </span><span
        class="beetobee-purple-light-text"> Date de la formation  </span></p>
      <p><span class="training-details beetobee-purple-dark-text">Places disponibles : </span>
        <span class="beetobee-purple-light-text">Nombre de place disponibles</span>
      </p>
    </div>
    <div class="card-action">
      <a href="#" class="activator beetobee-red-dark-text">Voir les détails</a>
    </div>
    <div class="card-reveal">
      <span class="card-title beetobee-blue-dark-text">Détails de la formation<i class="material-icons right">close</i></span>
      <p><span class="training-details beetobee-purple-dark-text"><i class="material-icons left">today</i>Date : </span>
        <span class="beetobee-purple-light-text">  formattedDate(formation.date)  </span>
      </p>
      <p><span class="training-details beetobee-purple-dark-text"><i
        class="material-icons left">timer</i>Durée : </span>
        <span class="beetobee-purple-light-text">  Durée de la formation </span>
      </p>
      <p><span class="training-details beetobee-purple-dark-text"><i class="material-icons left">access_time</i>Heure : </span>
        <span class="beetobee-purple-light-text">  Heure de début  </span>
      </p>
      <p><span class="training-details beetobee-purple-dark-text"><i class="material-icons left">event_available</i>Places disponibles : </span>
        <span class="beetobee-purple-light-text">  Nombre de place  </span>
      </p>
      <p><span class="training-details beetobee-purple-dark-text"><i class="material-icons left">location_on</i>Lieu : </span>
        <span class="beetobee-purple-light-text">  Lieux </span>
      </p>
      <p><span class="training-details beetobee-purple-dark-text">Description : </span> Description de la formation</p>
      <p class="beetobee-blue-dark-text">
        <i class="material-icons left">group</i>
        <span class="training-details beetobee-purple-dark-text">Liste des participants :</span>
      <div class="chip">
        <img src="" class="creator" alt="" data-firstname="" data-name="">
        users
      </div>
      <div class="card-action">
        action
      </div>
    </div>
  </div>
</div>
