/* training */

.chip {
  background-color: inherit;
}

.chip > img {
  position: relative;
}

.training-details {
  font-weight: bold;
}

img{
  width: 100%;
}

.content-padding{
  padding: 15px;
  margin: 15px;
}

.container{
  margin-top: 110px;
  margin-bottom: 55px;
}

i, p{
  line-height: normal;
}
i{
  display: inline-block;
  vertical-align: middle;
}

p{
  color: #522b77 !important;
}

.subButton{
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto 15px auto;
}

#deleteTraining{
  margin-bottom: 70px;
}
#updateTraining, #deleteTraining{
  width: 60px;
  height: 60px;
}

.btn-floating i{
  font-size: 2.6rem !important;
}

.btn-floating {
  line-height: 58px;
}
