/* ---- Native ---- */
section {
  margin-top: 75px;
  background-size: cover;
  /*border-bottom: 5px solid var(--beetobee-red-dark);*/
}

img {
  height: 150px;
}
/* ---- Class ---- -*/

.training #ask-for-training {
  bottom: 300px !important;
}

.training #add-training {
  bottom: 370px !important;
}









