<!--TODO SEarch part need to be in it's own component-->
<div id="search-drawer" class="drawer drawer-is-right-docked drawer-is-open beetobee-blue-dark-bg">
  <form action="">
    <div class="search-panel">
      <div class="search-panel-content">
        <div class="search-panel-category-content">
          <h2 class="search-panel-categories-content-label beetobee-white-text">Catégories</h2>
          <div class="input-field">
            <input type="checkbox" class="filled-in" id="checkbox-1" name="checkbox-1" checked="checked" />
            <label for="checkbox-1">Filled in</label>
          </div>
          <div class="input-field">
            <input type="checkbox" class="filled-in" id="checkbox-2" name="checkbox-2" checked="checked" />
            <label for="checkbox-2">Filled in</label>
          </div>
          <div class="input-field">
            <input type="checkbox" class="filled-in" id="checkbox-3" name="checkbox-3" checked="checked" />
            <label for="checkbox-3">Filled in</label>
          </div>
        </div>
        <div class="search-panel-category-content">
          <h2 class="search-panel-categories-content-label beetobee-white-text">Catégories</h2>
          <div class="input-field">
            <input type="checkbox" class="filled-in" id="checkbox-4" name="checkbox-4" checked="checked" />
            <label for="checkbox-4">Filled in</label>
          </div>
          <div class="input-field">
            <input type="checkbox" class="filled-in" id="checkbox-5" name="checkbox-5" checked="checked" />
            <label for="checkbox-5">Filled in</label>
          </div>
          <div class="input-field">
            <input type="checkbox" class="filled-in" id="checkbox-6" name="checkbox-6" checked="checked" />
            <label for="checkbox-6">Filled in</label>
          </div>
        </div>
        <div class="search-panel-category-content">
          <h2 class="search-panel-categories-content-label beetobee-white-text">Tri</h2>
          <div class="input-field">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Type</label>
          </div>
        </div>
        <div class="search-panel-category-content">
          <h2 class="search-panel-categories-content-label beetobee-white-text">Langages</h2>
          <div class="input-field">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Langue</label>
          </div>
        </div>
        <div class="search-panel-clear-container">
          <button type="reset" id="reset-filter" class="btn-flat beetobee-white-text">Reset filtres</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="drawer-backdrop black"></div>





