<main class="contact">
  <div class="vert-padding"></div>
  <div class="container">
    <form class="contact-form z-depth-1 beetobee-purple-dark-bg">
      <div class="form-header">
        <h1 class="beetobee-yellow-bg beetobee-purple-dark-text">Formulaire de contact</h1>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="input-field col s12">
            <input id="first_name" type="text" name="first_name" class="validate beetobee-yellow-text" required>
            <label for="first_name">Prénom</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" name="name" class="validate beetobee-yellow-text" required>
            <label for="name">Nom</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="mail" type="email" name="mail" class="validate beetobee-yellow-text" required>
            <label for="mail">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="title" type="text" name="title" class="validate beetobee-yellow-text" required>
            <label for="title">Titre / Sujet</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="comments" name="comments" class="materialize-textarea beetobee-yellow-text" required></textarea>
            <label for="comments">Message...</label>
          </div>
        </div>
      </div>
      <div class="form-footer">
        <div class="row">
          <div class="input-field col s12 center">
            <button id="sendForm" type="button" class="waves-effect waves-light btn beetobee-red-dark-bg"><i class="material-icons right">send</i>Envoyer</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="vert-padding"></div>
</main>
