<div *ngIf="certification">
  <ul class="collapsible popout" data-collapsible="accordion">
  <li>

    <div class="collapsible-header beetobee-blue-dark-bg"><i class="material-icons">filter_drama</i>
      {{certification.title}}
    </div>

    <div class="collapsible-body">

      <a (click)="openModalUpdate()" id="updateCertification"
         class="btn-floating halfway-fab waves-effect waves-light light-blue"><i class="material-icons">edit</i></a>
      <a (click)="delete(certification.id)" id="deleteCertification"
         class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">delete</i></a>

      <h3 class="beetobee-purple-dark-text"><i class="material-icons">bookmark</i>Présentation de
        la formation</h3>
      <p>{{certification.desc}}</p>

      <h3 class="beetobee-purple-dark-text"><i class="material-icons">check</i>Validité</h3>
      <p>{{certification.validity}}</p>

      <h3 class="beetobee-purple-dark-text"><i class="material-icons">attach_money</i>Coûts</h3>
      <p>{{certification.costTtc}}</p>

      <h3 class="beetobee-purple-dark-text"><i class="material-icons">school</i>Examens</h3>
      <p>{{certification.examDetail}}</p>
      <ul>
        <li>Durée de l'examen {{certification.examDuration}}</li>
        <li>Référence de l'examen {{certification.examNumber}}</li>
      </ul>
      <h3 class="beetobee-purple-dark-text"><i class="material-icons">add</i>Comment s'inscrire ?</h3>
      <p>{{certification.howToSubscribe}}</p>

      <h3 class="beetobee-purple-dark-text"><i class="material-icons">info</i>Informations utiles</h3>
      <p>{{certification.usefulInfos}}</p>

    </div>
  </li>
</ul>
<!--<p>{{certification.id}}</p>-->

<!--  <app-update-certification [certification]="certification"></app-update-certification>-->


</div>
