<div id="modal-become-instructor" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="beetobee-purple-dark-text">Devenir un formateur</h4>
    <p class="beetobee-red-dark-text">Vous voulez à votre tour transmettre vos connaissances, compétences à des personnes ayant envie d'apprendre?
      Exposez-nous vos idées et si celle-ci correspondent à notre philosphie de pollinisateur de savoir, vous
      deviendrez un formateur reconnu de la communauté !</p>
    <div class="vert-padding"></div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">assignment</i>
        <input id="instructorTitle" name="instructorTitle" type="text" class="validate">
        <label for="instructorTitle">Entête de votre présentation <span class="beetobee-red-dark-text">*</span></label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
        <input id="instructorEmail" name="instructorEmail" type="email" class="validate">
        <label for="instructorEmail">Votre email <span class="beetobee-red-dark-text">*</span></label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">comment</i>
        <textarea id="waiting" class="materialize-textarea"></textarea>
        <label for="waiting">Description des raisons qui nous pousseraient à vous faire confiance <span class="tooltipped" data-position="top" data-tooltip="Soyez diligent comme une abeille !">*</span></label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect beetobee-red-dark-bg btn-flat beetobee-white-text">Annuler</a>
    <a id="becomeInstructor" class="modal-action waves-effect beetobee-blue-dark-bg btn-flat beetobee-white-text">Envoyer</a>
  </div>
</div>
