<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header beetobee-blue-dark-bg"><i class="material-icons">filter_drama</i>Cisco
      - CCNA Cloud
    </div>
    <div class="collapsible-body">
      <h3 class="beetobee-purple-dark-text"><i class="material-icons">bookmark</i>Présentation de
        la formation</h3>
      <p>De nombreuses entreprises adoptent le Cloud pour les aider à être plus agiles, flexibles
        et efficaces
        pour obtenir de meilleurs résultats commerciaux. Aujourd&#39;hui, la majorité des
        entreprises
        utilisent déjà les offres XaaS, et d&#39;ici 2018, on estime que 78% des charges de
        travail
        seront traitées par le cloud. La certification CCNA Cloud est un programme de
        certification
        et de formation axé sur les rôles qui permet aux ingénieurs Cloud, aux administrateurs
        Cloud
        et aux ingénieurs réseau de développer, d&#39;avancer et de valider leur ensemble de
        compétences
        en Cloud et de les aider à répondre aux exigences changeantes de la technologie. Avec
        une
        certification CCNA Cloud, vous obtiendrez les compétences requises pour effectuer le
        provisioning
        et le support des solutions de cloud de Cisco.</p>
      <h3 class="beetobee-purple-dark-text"><i class="material-icons">check</i>Validité</h3>
      <p>La certification est valide pendant <strong>3 ans</strong>, une fois ce délai passé, il
        faut
        refaire l’examen pour continuer à être certifié. Néanmoins, toute réussite à un examen
        supérieur
        renouvelle le CCNA pour 3 ans supplémentaires.</p>
      <h3 class="beetobee-purple-dark-text"><i class="material-icons">attach_money</i>Coûts</h3>
      <p>Les frais de passage sont de l’ordre de <strong>183€ HT</strong> ou de <strong>218,87€
        TTC</strong>.</p>
      <h3 class="beetobee-purple-dark-text"><i class="material-icons">school</i>Examens</h3>
      <p>L’examen <strong>210-455 (Cloud Foundamentals)</strong> dure <strong>1h30</strong> pour
        <strong>55</strong> à <strong>65</strong> questions sous forme de QCM. L’examen est
        disponible uniquement en
        Anglais et Japonais. Voici tous les <a
          href="https://learningnetwork.cisco.com/community/certifications/ccna-cloud/cldfnd/exam-topics">détails</a>
        concernant la formation.
      <p></p>
      <p>L’examen <strong>210-455 CLDADM (Cloud Administration)</strong> dure
        <strong>1h30</strong> pour <strong>55</strong> à <strong>65</strong> questions sous
        forme de QCM. L’examen
        est disponible uniquement en Anglais et Japonais. Voici tous les <a
          href="https://learningnetwork.cisco.com/community/certifications/ccna-cloud/cldadm/exam-topics">détails</a>
        concernant la formation. Les QCM peuvent être sous la forme :
        <br/>
        <i class="material-icons">check_box</i>Choix unique
        <br/>
        <i class="material-icons">check_box</i>Choix multiple (dans ce cas, on vous précise le
        nombre de réponses souhaitées, 2, 3 ou 4)
        <br/>
        <i class="material-icons">check_box</i>Drag &amp; drop (ou glisser-déposer). Permet de
        faire le lien entre 2 tableaux par exemple
        <br/>
        <i class="material-icons">check_box</i>Remettre dans l’ordre des éléments</p>
      <h3 class="beetobee-purple-dark-text"><i class="material-icons">add</i>Comment s'inscrire ?
      </h3>
      <p>Rendez-vous sur le site de <strong>PearsonVue</strong>, trouvez votre centre d'examen.
        Ensuite
        choisissez l'examen que vous souhaitez passer et planifiez une date. Voici un site pour
        vous
        aider dans vos démarches : <a
          href="http://www.vue.com/cisco/">http://www.vue.com/cisco/</a>
      </p>
      <h3 class="beetobee-purple-dark-text"><i class="material-icons">info</i>Informations utiles
        :</h3>
      <p><strong>Remarque importante :</strong> vous n’avez pas le droit d’amener des notes, votre
        téléphone
        ou votre ordinateur portable.</p>
    </div>
  </li>
</ul>
