/*TODO the footer is 10px taller than the original web site*/

#main {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 354px );
  flex-direction: column;
  transition: width .3s ease-out;
}

.container h2 {
  font-size: 12px;
}



/*toggle, il faut qu'une classe soit mise sur le nav et le footer uniquement quand on arrive sur l page certification
réduire leur largeur de 256px*/

/*https://stackoverflow.com/questions/34645315/how-to-apply-css-class-to-a-component-element-when-its-created-by-router-outlet*/
/*https://alligator.io/angular/styles-between-components-angular/*/
