<main id="main" class="certifications">
  <div class="container">

    <!--Certification toggle-->
    <div >
        <app-certification *ngFor="let certification of certifications" class="col s12 m6" [certification]="certification" ></app-certification>
    </div>
    <!--Search Filters-->

    <div id="add-certification" class="fixed-action-btn">
      <a (click)="openModalAdd()"
         class="btn-floating btn-large waves-effect waves-light beetobee-blue-elec-bg tooltipped"
         data-position="left"
         data-tooltip="Ajouter une certification"><i class="material-icons">add</i></a>
    </div>

    <app-add-certification [(certifications)]="certifications"></app-add-certification>
    <div class="vert-padding"></div>
  </div>
</main>



