<main id="main" class="certifications">
  <div class="container">
    <!--TODO Collapsible certif need to be in it's own component-->
    <h2>Affichage de <strong class="beetobee-red-dark-text">8</strong> formations sur 8</h2>

    <!--Certification toggle-->
    <app-certification></app-certification>

    <!--Search Filters-->

    <div id="add-certification" class="fixed-action-btn">
      <a (click)="openModalAdd()"
         class="btn-floating btn-large waves-effect waves-light beetobee-blue-elec-bg tooltipped"
         data-position="left"
         data-tooltip="Ajouter une certification"><i class="material-icons">add</i></a>
    </div>

    <app-add-certification></app-add-certification>
    <div class="vert-padding"></div>
  </div>
</main>



