<div id="loginRegister" class="materialContainer" data-access>
  <div class="box beetobee-white-bg">
    <i class="icon-beetobee-logo beetobee-blue-elec-text materialContainer-beetobee"></i>
    <div class="title beetobee-blue-elec-text">CONNEXION</div>
    <div class="input">
      <label for="email">Email</label>
      <input [(ngModel)] = "loginData.email" class="no-border beetobee-purple-dark-text" type="email" name="email" id="email" required autofocus>
    </div>
    <div class="input">
      <label for="pass">Mot de passe</label>
      <input [(ngModel)] = "loginData.password" class="no-border beetobee-purple-dark-text" type="password" name="pass" id="pass" required >
    </div>
    <div class="button login">
      <button (click)="postLogin()" class="login beetobee-blue-elec-text" id="buttonlogin">
        <span class="materialContainer-action">GO</span>
        <i class="material-icons materialContainer-check beetobee-white-text">check</i>
        <i class="material-icons materialContainer-close">close</i>
      </button>
    </div>
    <a href="#" class="pass-forgot">Mot de passe oublié ?</a>
    <span id="errorCon" class="beetobee-red-dark-text"></span>
  </div>
  <div class="overbox">
    <div class="material-button material-button-register alt-2 beetobee-red-dark-bg"><span class="shape"></span></div>
    <div class="title beetobee-purple-dark-text">INSCRIPTION</div>
    <div class="input">
      <label class="beetobee-white-text" for="regmail">Email *</label>
      <input [(ngModel)] = "registerData.email" class="no-border beetobee-white-text" type="email" name="regmail" id="regmail" required autofocus>
    </div>
    <div class="input">
      <label class="beetobee-white-text" for="regfirstname">Prénom *</label>
      <input [(ngModel)] = "registerData.firstname" class="no-border beetobee-white-text" type="text" name="regfirstname" id="regfirstname" required>
    </div>
    <div class="input">
      <label class="beetobee-white-text" for="regname">Nom *</label>
      <input [(ngModel)] = "registerData.lastname" class="no-border beetobee-white-text" type="text" name="regname" id="regname" required>
    </div>
    <div class="input">
      <label class="beetobee-white-text" for="regpass">Mot de passe *</label>
      <input [(ngModel)] = "registerData.password" class="no-border beetobee-white-text" type="password" name="regpass" id="regpass" required>
    </div>
    <div class="input">
      <label class="beetobee-white-text" for="reregpass">Confirmation *</label>
      <input class="no-border beetobee-white-text" type="password" name="reregpass" id="reregpass" required>
    </div>
    <div class="button register">
      <button (click)="postRegister()" class="white-text" id="buttonregister">
        <span class="materialContainer-action">Valider</span>
        <i class="material-icons materialContainer-check">check</i>
        <i class="material-icons materialContainer-close">close</i>
      </button>
    </div>
    <span id="errorReg" class="beetobee-red-dark-text"></span>
  </div>
</div>
