<div class="albums">

  <div class="album">
    <img src="../../assets/img/team/newImage/Guillaume.png" class="album__artwork"/>
    <div class="album__detail">
      <p class="album__artist">Guillaume</p>
      <p class="album__desc">Fondateur de BeeToBee, Guillaume est un pilier de la startup. Spécialisé dans le
        marketing digital, Guillaume a su construire de solides fondations pour transmettre aujourd’hui à
        Laora la direction de BeeToBee. Il est actuellement co-directeur.</p>
    </div>
  </div>
  <div class="album">
    <img src="../../assets/img/team/newImage/Laora.png" class="album__artwork"/>
    <div class="album__details">
      <p class="album__artist">Laora</p>
      <p class="album__desc">Directrice de BeeToBee, Laora a repris avec brio la tête de la start-up. Forte de
        son expérience dans la gestion d’équipe, Laora a appliqué une stratégie et un plan d’action qui ont
        déjà porté leurs fruits. La startup connait une progression fulgurante.</p>
    </div>
  </div>
  <div class="album">
    <img src="../../assets/img/team/newImage/Alexandre.png" class="album__artwork"/>
    <div class="album__details">
      <p class="album__artist">Alexandre</p>
      <p class="album__desc">Développeur au sein de BeetoBee depuis sa création, Alexandre s’occupe
        actuellement du développement de l’application Android.</p>
    </div>
  </div>
  <div class="album">
    <img src="../../assets/img/team/newImage/Martin.png" class="album__artwork" >
    <div class="album__details">
      <p class="album__artist">Martin</p>
      <p class="album__desc"> Graphiste et designer de la startup, Martin a su mettre en œuvre son
        professionnalisme et sa touche artistique pour effectuer une refonte de la charte graphique et une
        amélioration de notre identité visuelle. Sa mission principale consiste à réaliser les affiches pour
        promouvoir les formations.</p>
    </div>
  </div>
  <div class="album">
    <img src="../../assets/img/team/newImage/Simon.png" class="album__artwork" >
    <div class="album__details">
      <p class="album__artist">Simon</p>
      <p class="album__desc">Simon a rejoint BeeToBee dès sa création. Son but : fournir aux étudiants toutes
        les informations nécessaires aux passages de certifications. Au sein de l’équipe, Simon est élément
        moteur pour la Start-up visant constamment la performance et la réussite.</p>
    </div>
  </div>
  <div class="album">
    <img src="../../assets/img/team/newImage/Oh.png" class="album__artwork" >
    <div class="album__details">
      <p class="album__artist">Seungtaek</p>
      <p class="album__desc">Fraichement arrivé en Octobre 2017, Seungtaek est l’intégrateur web. Il met en
        application les directives de Laora et Martin.</p>
    </div>
  </div>
  <div class="album">
    <img  src="../../assets/img/team/newImage/Cyril.png" class="album__artwork" >
    <div class="album__details">
      <p class="album__artist">Cyril</p>
      <p class="album__desc">Recruté en Novembre 2017, Cyril occupe un poste important, celui de Community
        Manager. Grâce à lui, BeeToBee va pouvoir accroitre sa notoriété sur les réseaux sociaux. Une lourde
        tâche puisqu’en effet, la startup part quasiment de zéro sur ce sujet.</p>
    </div>
  </div>
  <div class="album">
    <img src="../../assets/img/team/newImage/Julien.png" class="album__artwork" >
    <div class="album__details">
      <p class="album__artist">Julien</p>
      <p class="album__desc">Développeur au sein de la Startup, Julien travaille en étroite collaboration avec
        Thomas sur le développement de l’API.</p>
    </div>
  </div>
  <div class="album">
    <img src="../../assets/img/team/newImage/Thomas.png" cd anfclass="album__artwork"  >
    <div class="album__details">
      <p class="album__artist">Thomas</p>
      <p class="album__desc">Amoureux de la vie et de la bière, Thomas affectionne également le développement.
        Au sein de BeeToBee, il participe au développement de l’API.
      </p>
    </div>
  </div>

</div>


